/* Header style */
header {
    background-image: url(./assets/images/navbar-background.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav {
    font-size: 20px;
}

nav .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    width: 40%;
}

nav .logo {
    width: 20%;
    text-align: center;
}

nav .logo img {
    width: 75px;
}

nav .signin_signup {
    width: 20%;
}

p {
    margin: 0 !important;
}

/* Dropdown style */
.has-dropdown {
    position: relative;
}

.dropdown-container {
    list-style: none;
    padding: 0;
    font-size: 16px;
    display: none;
}

.dropdown-arrow {
    border: none;
    background-color: transparent;
    font-size: 1em;
    transition: rotate .3s;
}

.has-dropdown:hover .dropdown-arrow {
    rotate: 90deg;
}

.has-dropdown .dropdown-container li {
    transition: background-color .3s, color .3s;
    padding: 10px;
}

.has-dropdown:hover .dropdown-container {
    display: block;
    position: absolute;
    min-width: 100%;
    width: max-content;
    background-color: #FFFFFF;
}

.has-dropdown:hover .dropdown-container li:hover {
    background-color: #D71313;
    color: white;
}

/* Sign out button style */
.sign-out-button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    width: 100%;
    height: 100%;
    text-align: left;
}